body{
    margin: 20px;
    
}
article{
    width: 300px;
    height: 500px;
    background-color: wheat;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}
article ~ h2{
    background-color: lightcoral;
}
div ~ p{
background-color: darkturquoise;
}
article ~ p{
    background-color: darkorange;
}
h2 ~ div{
    background-color: yellowgreen;
}